/Complete_Modern_Cplusplus/.idea/
/Complete_Modern_Cplusplus/Templates_Forwarding_Variadic/Debug/
/Complete_Modern_Cplusplus/LiteralStrings/Debug/
/Complete_Modern_Cplusplus/Debug/
/Complete_Modern_Cplusplus/Templates/Debug/
/Complete_Modern_Cplusplus/Callbacks_FunctionPointers/Debug/
/Complete_Modern_Cplusplus/Templates_Explicit_Specialization/Debug/
/Complete_Modern_Cplusplus/Callbacks_FunctionObjects/Debug/
/Complete_Modern_Cplusplus/LamddaExpressions/Debug/
/Complete_Modern_Cplusplus/LambdaExpressionsCaptureList/Debug/
/Complete_Modern_Cplusplus/LambdaExpressionsAssignment/Debug/
/Complete_Modern_Cplusplus/STLProject/Debug/
/Complete_Modern_Cplusplus/Account/Debug/
/Concurrency/basics/thread_basics
/Concurrency/mutex/mutex_synchronization
